@use "../components/hero" as hero;

.hero_contact{
    @extend .hero;
    background-image: url(../../assets/images/heros/13574d6740969c4e2ec3cc70e8e0c7f6.jpg);
    background-position: bottom 45% left 30%;
}

.contact_textarea{
    height: 6rem;
}