###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/old/
/documents/Manuel_utilisation.odt
/documents/Documentation_technique.odt
/documents/Charte_graphique.odt
###< symfony/framework-bundle ###

.env.local
.env.test

assets/images