<div class="container-fluid">
    <div class="hero_connexion row align-items-center text-center mt-3 mx-1 rounded">
        <h1 class="titre-principal">Connexion</h1>
    </div>
    <div class="formulaire row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
        <div class="col-lg-6 col-sm-12 col-md-10">
            <form id="formulaireConnexion">
                <div class="mb-3">
                    <label for="Email" class="form-label text-primary">Address E-mail :</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="adresse@mail.com" required>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label text-primary">Mot de passe :</label>
                    <input type="password" class="form-control" name="Password" id="Password" required>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="btnSingin">Se connecter</button>
                </div>
                
            </form>
        </div>
    </div>
</div>