{% extends 'index.html.twig' %}

{% block main %}
<div class="container-fluid">
    <div class="hero_contact row align-items-center text-center mt-3 mx-1 rounded">
        <h1 class="titre-principal">Contact</h1>
    </div>
    <div class="formulaire row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
        <div class="col-lg-6 col-sm-12 col-md-10">
            <form>
                <div class="mb-3">
                    <label for="titre" class="form-label text-primary">Titre :</label>
                    <input type="text" class="form-control" id="titre" name="titre" placeholder="titre" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label text-primary">Votre message :</label>
                    <textarea type="text" class="form-control contact_textarea" id="description" name="description" placeholder="Laissez votre message ici" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label text-primary">Address E-mail :</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="adresse@mail.com" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}