
        <div class="row footer px-5 pt-3 mt-3 align-items-end justify-content-center bg-dark">
            <div class="col-lg-6 col-sm-12">
                <div class="row mb-4 align-items-end">
                    <div class="col-6 info">
                        <div class="row adresse mb-2">
                            <div>Zoo Arcadia</div>
                            <div>route de Merlin</div>
                            <div>35123 Broceliande</div>
                        </div>
                        <div class="row horaires">
                            <div>Ouvert toute l’année</div>
                            <div>7J/7 à partir de 9h00</div>
                            <div>Y compris les jours fériés</div>
                        </div>
                    </div>
                    <div class="col-6 info text-center">
                        <a href="/Contact">Nous contacter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="row mb-4">
                    <div class="col-6 info text-center">
                        <a href="/rgpd">RGPD</a>
                    </div>
                    <div class="col-6 info text-center">
                        <a href="/mentions">Mentions légales</a>
                    </div>
                </div>
            </div>
        </div>

