{% extends 'index.html.twig' %}

{% block main %}

<div class="container-fluid">
    <!--Debut Hero -->
    <div class="habitats-image-hero row align-items-center text-center mt-3 mx-1 rounded">
        <h1 class="titre-principal">Les habitats</h1>
    </div>
    <!--Fin Hero -->
    <!-- Debut liste habitats-->
    <div class="section row section-habitats justify-content-around p-3 mt-3 mx-1 mb-3 rounded">
    {% for habitat in habitats %}
        <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center text-center">
            {% for image in habitat.Habitat %}
                {% if image.cover == 1 %}
                    <img class="w-100 img-habitat rounded-circle" src="{{ asset ("images/habitats/#{ habitat.nom }/#{ image.Image }") }}"/>
                {% endif %}
            {% endfor %}    
            <a class="btn btn-primary mb-3 btn-habitat" id="savane" href="\Habitats\{{ habitat.nom }}#habitat">Découvrir l'habitat {{ habitat.nom }}</a>
        </div>
    {% endfor %}
        <!--<div class="col-lg-4 col-md-6 col-sm-12 justify-content-center text-center">
            <div class="mx-auto image-cercle savane ratio ratio-1x1 w-75 mb-3">&nbsp;</div>
            <a class="btn btn-primary mb-3 btn-habitat" id="savane" href="\Habitats\Savane">Découvrir l'habitat Savane</a>
            
        </div>
        <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <div class="mx-auto image-cercle jungle ratio ratio-1x1 w-75 mb-3">&nbsp;</div>
            <a class="btn btn-primary mb-3 btn-habitat" id="jungle" href="\Habitats\Jungle">Découvrir l'habitat Jungle</a>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-12 text-center">
            <div class="mx-auto image-cercle marais ratio ratio-1x1 w-75  mb-3">&nbsp;</div>
            <a class="btn btn-primary btn-habitat" id="marais" href="\Habitats\Marais">Découvrir l'habitat Marais</a>
        </div>-->
    </div>
    <!-- Fin liste habitats -->
    <!-- Debut habitat choisi -->
    <div class="container-fluid bg-dark rounded" id="habitat">
    {% block habitat %}
    
    {% endblock %}
    </div>
    <!-- Fin habitat choisi -->
</div>
{% endblock %}
