{% extends 'pages/habitats.html.twig' %}

{% block habitat %}
<div class="hero-savane mt-3">
    <div class="image-savane savane row align-items-center text-center pt-3 mx-1 rounded">
        <h2 class="titre-secondaire">Savane</h2>
    </div>
    <div class="row mt-3 text-center">
        <p class="habitat-accroche">Venez vous aventurer au cœur de la savane au Zoo Arcadia et découvrez nos habitats incroyables!</p>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-6">
            <img class="w-100" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp" alt="lion Alex">
        </div>
        <div class="col-6">
            <img class="w-100" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp" alt="lion Alex">
        </div>
    </div>
    <div class="row mt-3 px-3 mx-2 pt-2 text-center bg-primary rounded">
        <p>L'habitat savane du zoo Arcadia est un vaste espace naturel « à ciel ouvert » qui reproduit fidèlement les vastes plaines herbeuses de la savane africaine. Ce lieu offre une expérience unique aux visiteurs en les plongeant au cœur de la faune et la flore caractéristiques de ce biome.</p>
        <p>Dans cet habitat, les visiteurs peuvent admirer une grande variété d'animaux emblématiques de la savane, tels que les lions, les girafes, les zèbres, les éléphants, les gazelles, les autruches et bien d'autres. Les espaces de vie ont été conçus de manière à offrir aux animaux un environnement stimulant, semblable à celui qu'ils pourraient rencontrer dans la nature.</p>
    </div>
    <div class="row mt-3 habitats-animaux text-center bg-secondary">
        <div class="col-12 text-uppercase">
            Les animaux de la savane.
        </div>
        <div class="col-12 mt-2">
            <div class="row habitats-animaux-photos">
                <div class="section-animaux_bg-image col-lg-3 col-sm-6 mb-3">
                    <img class="w-100 img-animaux rounded-circle" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp"/>
                    <div class="section-animaux_overlay">
                        <h2 class="section-animaux_nom">Alex</h2>
                    </div>
                </div>
                <div class="section-animaux_bg-image col-lg-3 col-sm-6 mb-3">
                    <img class="w-100 img-animaux rounded-circle" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp"/>
                    <div class="section-animaux_overlay">
                        <h2 class="section-animaux_nom">Alex</h2>
                    </div>
                </div>
                <div class="section-animaux_bg-image col-lg-3 col-sm-6 mb-3">
                    <img class="w-100 img-animaux rounded-circle" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp"/>
                    <div class="section-animaux_overlay">
                        <h2 class="section-animaux_nom">Alex</h2>
                    </div>
                </div>
                <div class="section-animaux_bg-image col-lg-3 col-sm-6 mb-3">
                    <img class="w-100 img-animaux rounded-circle" src="../assets/images/animaux/pexels-petr-ganaj-4032590.webp"/>
                    <div class="section-animaux_overlay">
                        <h2 class="section-animaux_nom">Alex</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}