<div class="section row section-animaux text-center p-3 mt-3 mx-1 mb-3">
    <div class="col align-self-center mw-2">
        <a href="#" target="_blank"><i class="bi bi-facebook mx-1 icon-reseaux"></i></a>
        <a href="#" target="_blank"><i class="bi bi-twitter-x mx-1 icon-reseaux"></i></a>
        <a href="#" target="_blank"><i class="bi bi-tiktok mx-1 icon-reseaux"></i></a>
        <a href="#" target="_blank"><i class="bi bi-instagram mx-1 icon-reseaux"></i></a>
        <a href="#" target="_blank"><i class="bi bi-linkedin mx-1 icon-reseaux"></i></a>
    </div>
</div>