@use "../custom" as custom;

.navbar {

    .nav-link {
        color: custom.$primary;

        &:hover {
            color: custom.$black;
        }
    }
    .dropdown-item{
        color: custom.$primary;

        &:hover{
            background-color: custom.$primary;
            color: custom.$black;
        }
    }
}