{% extends 'dashboard/dashboard.html.twig' %}

{% block section %}
<div class="container-fluid mt-3">
    <div class="headerUser text-center">
    <h1>Avis</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-4">
            {{ message }}
        </div>
    {% endfor %}
    </div>
    <div class="container-fluid">
        <div class="row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
        <p class="text-primary">Nombre d'avis à valider/rejeter restant: {{ reviewsToValidateCount }}</p>
        {% if form %}
        {{ form(form) }}
        {% else %}
        <p class="text-primary fw-bold">Aucun avis à valider</p>
        {% endif %}
        </div>
    </div>
{% endblock %}