<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}
    <title>{% block title %}Zoo Arcadia{% endblock %}</title>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Début HEADER -->
    <header>
        {% include 'pages/header.html.twig' with habitatsList %}
    </header>
    <!-- Fin HEADER -->

    <!-- Début MAIN -->
    {% block main %}

    {% endblock %}
    <!-- Fin MAIN -->
    <!-- Début FOOTER -->
    <footer class="footer mt-auto">
    {{ include('pages/footer.html.twig') }}
    </footer>
</body>

</html>